:root{
    --result-column: 2;
}

h3 { 
    font-size: 20px;
    color: white;
    text-align: center;
}

i { 
    font-size: 40px;
    color: white;
    text-align: center;
}

.ListOfGifs{
    column-count: var(--result-column);
    column-gap: .5em;
}

.ListOfGifs-item{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;

    background-color: #eee;
    display: inline-block;
    width: 100%;
}

@media (min-width: 800px){
    :root{
        --result-column: 3;
    }
}

@media (min-width: 900px){
    :root{
        --result-column: 4;
    }
}



  