:root{
    --result-column: 2;
}


h3 { 
    font-size: 40px;
    color: white;
    text-align: left;
    margin: 16px;
}

i { 
    font-size: 40px;
    color: white;
    text-align: center;
}

.ListOfGifs{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0 3px;
    min-height: 100vh;  
    margin: 16px;
    align-items: center;
}

.ListOfGifs-item{

    background-color: #eee;
    display: inline-block;
    width: 100%;
}

@media (min-width: 800px){
    :root{
        --result-column: 3;
    }
}

@media (min-width: 900px){
    :root{
        --result-column: 4;
    }
}



  