.search {
    text-align: center;
    position: relative;
} 

.search input {
    width: 50%;
    height: 30px;
    background:  #ffffff;
    border: none;
}

.search button {
    height: 34px;
    color: #ffffff;
    background: #c57af0;
}

