/* .search {
    text-align: center;
    position: relative;
}

.search input {
    width: 50%;
    height: 30px;
    background:  #ffffff;
    border: none;
}


 */
.SearchBar{
    height: 36px;
    width: 100%;
	max-width: 90rem;
    min-width: 30rem;
	margin: 5px auto 20px;
	padding: 0 0.5em;
}
 .langSelect {
    /* height: 34px; */
    color: #ffffff;
    background: var(--brand-color_3)
 }

.searchForm button {
    /* height: 34px; */
    color: #ffffff;
    background: var(--brand-color_3)
}

.searchForm {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    /* padding-top: 0.5rem;
    padding-bottom: 0.5rem; */
    background-color: var(--theme-body-bg);

  }

  .search-input {
    width: 70%;
    /* font-size: 16px;
    border: none;
    width: 30%;
    padding: 4px 16px; */
  }