
.App  h1{
  text-align: center;
  font-size: 500%;
  color: white;
}

.App-content {
  background-color: #381758;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
}

